doctype html
html
    head
        title home
        script(src="/js/login.js")
body
- var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];

    a(class='buttonClass' href='/getuser') Get Cookie data

    p #{user}


